{
# DHCPv4 configuration starts on the next line
"Dhcp4": {

# Hook libraries anf HA
    "hooks-libraries": [{
        "library": "/usr/lib64/kea/hooks/libdhcp_lease_cmds.so",
        "parameters": { }
    }, {
        "library": "/usr/lib64/kea/hooks/libdhcp_ha.so",
        "parameters": {
            "high-availability": [{
                "this-server-name": "{{ type }}",
                "mode": "{{ ha_mode }}",
                "heartbeat-delay": 10000,
                "max-response-delay": 10000,
                "max-ack-delay": 5000,
                "max-unacked-clients": 5,
                "peers": [{
                    "name": "primary",
{% if primary_node_ip is defined %}
                    "url": "http://{{ primary_node_ip }}:8000/",
{% else %}
                    "url": "http://{{ hostvars[kea_host_primary]['ansible_default_ipv4']['address'] }}:8000/",
{% endif %}
                    "role": "primary",
                    "auto-failover": true
                }, {
                    "name": "secondary",
{% if secondary_node_ip is defined %}
                    "url": "http://{{ secondary_node_ip }}:8000/",
{% else %}
                    "url": "http://{{ hostvars[kea_host_secondary]['ansible_default_ipv4']['address'] }}:8000/",
{% endif %}
                      "role": "{{ kea_server_ha_role[ha_mode] }}",
                    "auto-failover": true
                }
                ]
            }]
        }
    }],   


# Socket for the controller Agent 
    "control-socket": {
        "socket-type": "unix",
        "socket-name": "/tmp/kea-socket"
    },   
    
    
# First we set up global values
    "valid-lifetime": 4000,
    "renew-timer": 1000,
    "rebind-timer": 2000,

# Next we set up the interfaces to be used by the server.
    "interfaces-config": {
        "interfaces": [ 
{% if interfaces is defined %}
          {{ interfaces }}
{% else %}
          "{{ ansible_default_ipv4.interface }}"
{% endif %} 
        ]
    },

# And we specify the type of lease database
    "lease-database": {
        "type": "memfile",
        "persist": true,
        "name": "/var/lib/kea/dhcp4.leases"
    },

# Finally, we list the subnets from which we will be leasing addresses.
    "subnet4": [
        {
            # First subnet
            "subnet": "{{ subnet1 }}",
            # Provide router IP
            "option-data": [
               #{
               #   "name": "domain-name-servers",
               #   "data": "x.x.x.x"
               #},
               {
                  "name": "routers",
                  "data": "{{ router1 }}"
               }
            ],
            # several pools for same subnet
            "pools": [ 
               { 
                 "pool": "{{ pool1 }}" 
               }
            ]
        }
    ],


# Provide DNS Servers IPs
    "option-data": [
        #{
        #   "name": "routers",
        #   "data": "x.x.x.x"
        #},
        {
           "name": "domain-name-servers",
           "data": "{{ dns_global }}"
        }
    ],


# To process many requests in parallel
    "multi-threading": {
       "enable-multi-threading": true,
       "thread-pool-size": 4,
       "packet-queue-size": 16
    },

# Log to file
    "loggers": [ {
        "name": "kea-dhcp4",
        "output_options": [ {
            "output": "/var/log/kea-dhcp4.log"
        } ],
        "severity": "DEBUG",
        "debuglevel": 0
    } ]

# DHCPv4 configuration ends with the next line
}

}
